jupyter
notebook
torch
torchvision
tqdm
boto3
requests
regex
sentencepiece
sacremoses
transformers
importlib-metadata
mypy
numpy
tabulate
matplotlib
pickle5
filelock
Flask
six
mysql
mysql-connector-python
spacy
scipy
networkx